

<div class='container'>

  <h1>List of Albums</h1>
    <% @albums.each do |album| %>
    <div class="col-md-3">
    
    <%= link_to(album.title, album_path(album)) %> 
    <%= link_to image_tag(album.photos.last.photo_image.thumb.url), album_path(album) if album.photos.last %>
    <%#= link_to image_tag(album.photos.last.title), album_path(album) %>

    </div>

    <%#= button_to('Delete Country', country_path(country), method: :delete, data:{confirm: "Delete country? Are you sure?"}) %>
    <%#= link_to("Edit Country", edit_country_path(country)) %>
    
    <% end %>
    <br>
    <br>

   
 
</div>