<div class='container'>
<div class='holder'>
<% if user_signed_in? %>


you are already signed in


<% else %>

<h1> This is the Home Index </h1>

<%= link_to 'login', new_user_session_path %>
<%= link_to 'register', new_user_registration_path %>

<% end %>
</div>
</div>