/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self


 */
 @import 'bootstrap';
 @import 'bootstrap/theme';
 @import 'chosen';

 @media screen and (max-width: 568px) {
         h1 {
     font-size:20px;
     }
 }
 .btn.btn-primary {
  .buttonBackground(lightgreen, white);
 }

 .col-sm-3 img {
  height: 100%;
 }

 .gendericon {
  padding: 10px;

 }

 .mainlogo {
  height: 40px;

 }
 .profile-image img {
 box-shadow: 0px 10px 5px #404242;
  
 }


 .col-md-3.main-logo {
  background-color: none;
  height: 120%;
  padding: 0px;

 }

 .col-md-3.main-logo img {
 height: 100%;
 z-index: 10;

 }

 .col-md-6.logout_box {
  background-color: none;
  height: 100%;
  color: white;
  text-align: right;
  padding-top: 7px;
  font-size: 0.9em;

  
 }

 .col-md-3.logout_box p {
 
  color: white;
  text-align: right;
  padding-top: 8px;
  font-size: 1.2em;
  
 }

.addbutton {
  position: fixed;
  right: 20px;
  bottom: 70px;

}

p {
  /*font-family: 'Poiret One', cursive;*/
  /*font-family: 'Crimson Text', serif;*/
}

.albumtitle {
  background-color: white;
  color: black;
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
  height: 40px;
  text-align: center;
  bottom: 0px;
  position: absolute;
  z-index: 2;
  margin: auto;
}

.albumtitle a {
color: black;
text-decoration: none;

}

.col-md-3 {
  /*border-radius: 10px;*/
  /*border: 2px solid black;*/
  /*box-shadow: 0px 10px 5px #404242;*/
  /*padding-bottom:;*/
  position: relative;
  padding: none;
  margin: none;
  
}

.col-md-3 img {
  /*padding: 10px;*/
  margin-left: auto;
  margin-right: auto;
  height:100%;
  

}
.col-md-3.user_timeline {
  padding-top: 15px;
  padding-bottom: 15px;
 box-shadow: 0px 10px 5px #404242;



}

.col-md-12 img {
  margin-left: auto;
  margin-right: auto;
  width:100%;

}

.col-md-6.friends_list{
  height: 100px;
  text-align: left;
float: right;
  
  /*border-radius: 10px;*/
  /*border: 2px solid black;*/
  /*box-shadow: 0px 10px 5px #404242;*/
  /*padding-bottom: 10px;*/
  /*margin-bottom: 10px;*/
}
.col-md-6.friends_list img{
  height: 100%;

  }


.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}


 body {
   background-color: white;
   /*background-image: url("https://fa707ec5abab9620c91c-e087a9513984a31bae18dd7ef8b1f502.ssl.cf1.rackcdn.com/6366155_dating-then-and-now-8-basic-differences_8d46240c_m.jpg?bg=675F58.jpg")*/

 }

 body a {
  text-decoration: none;
  color: black;
 }
 #button {

 }

 h1 {
   padding: 0px;
   margin-bottom: 10px;
 }
 h4 {
  color: black;
  text-decoration: none;
  font-size: 1.0em
 }

 .main_navbar {
  color: black;
  top: 100px;
  position: absolute;
  
 }

 .title_bar {
 width: 100%;
 text-align: left;
 color: white;
 top: 0px;
 left: 0%;
 height: 30px;
 border-bottom: 1px solid white;
 background-color: black;
 /*position: fixed;*/
 padding-left:20px;
 padding-top: 4px;
 z-index: 100;
 margin-bottom: 5px;
 }
 .title_bar a{
  color: black;
  text-decoration: none;


 }
 .list {
  background-color: white;
  padding: 5px;
  float: left;
  text-align: left;
 }
 .list_container {


 }

 .container {

  /*position: absolute;*/
width: 100%;
 padding-bottom: 50px;

 text-align: center;
 vertical-align: center;
 /*padding-bottom: 100px;*/

 }

 .container.top_navbar {
  height: 30px;
  background-color: black;

 }

 .container.main_navbar {
  top: 0px;
  background-color: lightgreen;
  position: relative;
  padding-top: 10px;
  padding-bottom: 0px;


 }
 .container.edit_user {
  padding-bottom: 10px;
 }

 .holder {
 width: 960px;
 padding: 20px;
 margin-top: 15px;
 background-color: white;
 opacity: 1;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
 border: 2px solid black;
 box-shadow: 0px 10px 5px #404242;

 }
 .holder img {

  opacity: 1;
 }

 .table {
width: 100%;

 }

 .holder2 {
 width: 800px;
 padding: 20px;
 margin-top: 15px;
 background-color: white;
 opacity: 1;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
 border: 2px solid black;
 box-shadow: 0px 10px 5px #404242;

 }

 .holder2 img {

  opacity: 1;
 }


 .footer {
 width: 150%;
 bottom: 0px;
 height: 30px;
 background-color: black;
 border-top: 1px solid white;
 text-align: center;
 color: white;
 padding-top: 10px;
 position: fixed;
 left: -25%;

 }
 .footer a {
   color: white;
   text-decoration: none;
 }

 #bg {
   position: fixed; 
   top: -50%; 
   left: -50%; 
   width: 200%; 
   height: 200%;
   z-index: -50;
 }
 #bg img {
   position: absolute; 
   top: 50px; 
   left: 0; 
   right: 0; 
   bottom: 0; 
   margin: auto; 
   min-width: 50%;
   min-height: 50%;
   z-index: -50;
 }

 .error_box {
  width: 200px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  position: fixed;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 10px 5px #404242;


 }


